@model IEnumerable<bidding_platform.Models.User>

@{
    ViewData["Title"] = "Users";
}

<div class="container mt-5">
    <h1 class="mb-4">Users</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New User</a>
    </p>
    <table class="table text-white">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-white">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-sm btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-sm btn-danger">Delete</a>
                        <a asp-action="SellerDashboard" asp-route-id="@item.UserId" class="btn btn-sm btn-success">Seller Dashboard</a>
                        <a asp-action="BuyerDashboard" asp-route-id="@item.UserId" class="btn btn-sm btn-primary">Buyer Dashboard</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
