@model bidding_platform.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidIncrement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidIncrement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>

@*  *@
<h3>Place a Bid:</h3>
<form asp-action="PlaceBid" asp-controller="Product" method="post">
    <input type="hidden" name="ProductId" value="@Model.ProductId" />
    <div class="form-group">
        <label for="Amount">Bid Amount:</label>
        <input type="number" step="0.01" class="form-control" name="Amount" required />
    </div>
    <div class="form-group">
        <label for="UserId">User</label>
        <input type="number" class="form-control" name="UserId" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit Bid</button>
</form>

<h3>Existing Bids:</h3>
<ul>
@foreach (var bid in Model.Bids)
{
    <li>Amount: @bid.Amount | Time: @bid.BidDate | User: @bid.User.Name</li>
}
</ul>

@*  *@

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
